<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('select2-4.0.6-rc.1/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('select2-bootstrap-theme/dist/select2-bootstrap.min.css') }}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ asset('fontawesome-free-5.7.1-web/css/all.min.css') }}">

    <!-- Estilos propios de la aplicación -->
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}Rpg Maker - Welcome{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}

<!-- Bootstrap JS y sus dependencias (jQuery y popper.js) -->
<script src="{{ asset('jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('popper/popper.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

<!-- Select2 -->
<script src="{{ asset('select2-4.0.6-rc.1/dist/js/select2.min.js') }}"></script>
<script src="{{ asset('select2-4.0.6-rc.1/dist/js/i18n/es.js') }}"></script>
</body>
</html>